.management{
    width: 25%;
    margin: auto;
    text-align: center;
    margin-top: 150px;
    padding: 15px;
    box-shadow: chocolate 3px 3px 3px 3px;

    border-radius: 15px;
    color:chocolate;

}
.sori{
    size: 70px;
    border: solid 2px chocolate;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    margin: auto;
    color:crimson;

}
.dityls{
    width: 90%;
    height: 90%;
    margin: auto;
    text-align: center;
    color:slateblue;
    
    border: solid 2px darkmagenta;
    border-radius: 15px;

    padding: 15px;
}

.ff{
    color:teal;
    box-shadow: seagreen 3px 3px 3px 3px;
    height: 30%;
    padding: 15px;
    font-size: 20px; 
      margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;

    width: 70%;
  
 } 
 .navbar{
     width: 30%;
background-color: azure; 
color: slateblue;

}



.apdiv{
    text-align: center;
    color: steelblue;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border : solid 3px seagreen;
    border-radius: 15px;

    width: 70%;
    height: 100%;
    overflow:auto;

}
.divcon{
    padding: 10px;
    width: 70%;
    border : solid 3px seagreen;
    border-radius: 15px;

    margin: auto;
    margin-top: 30px;
   

}
.form-group{
    padding: 10px;
}
.form-control{
    margin:  5px;
}



.btn{
   width: 40%;
margin: auto;
margin-top: 15px;
}



.in{
    width: 85%
}


