<h1>!!ברוך הבא מנהל</h1>

<div class="navdiv"  >
    <ul   class="ulbut">
        <button type="button" class="btn btn-primary" (click)="getAllFliyts()">קבלת כל הטיסות</button>
        <button type="button" class="btn btn-primary" (click)="getPassengersByNum()">קבלת נוסעים לפי מספר הזמנה</button>
        <button type="button" class="btn btn-primary" (click)="getAllOrders()">קבלת כל מזמינים</button>
        <button type="button" class="btn btn-primary" (click)="getOrdersByNum()">קבלת המזמינים לפי מספר הזמנה</button>
        <button type="button" class="btn btn-primary" (click)="addFliyts()">הוספת טיסה</button>
        <button type="button" class="btn btn-primary" (click)="updetFliyts()">שינוי טיסה</button>
        <button type="button" class="btn btn-primary" (click)="deleteFliyts()">ביטול טיסה</button>
    </ul>
</div>



