<h1>!!ברוך הבא מנהל</h1>



<div #bthget>
    <button type="button" class="btn btn-primary" (click)="getAllFliyts()">קבלת כל הטיסות</button>
    <button type="button" class="btn btn-primary" (click)="getAllOrders()">קבלת כל מזמינים</button>
</div>

<div *ngFor="let i of fltghtsarr">
    <button type="button" class="btn btn-primary" (click)="getPassengersByNum(i.numFlyght)">קבלת נוסעים של טיסה
        זו</button>
    <button type="button" class="btn btn-primary" (click)="getOrdersByNum(i.numFlyght)">קבלת מזמינים של טיסה זו</button>
    <button type="button" class="btn btn-primary" (click)="updetFliyts(i.numFlyght)">שינוי טיסה</button>
    <button type="button" class="btn btn-primary" (click)="deleteFliyts(i.numFlyght)">ביטול טיסה</button>

    {{i.numFlyght}}
    {{i.company}}
    {{i.depart}}
    {{i.duration}}
    {{i.landing}}
    {{i.origin}}
    {{i.place}}
    {{i.takeoff}}
    {{i.target}}
</div>

<div *ngFor="let i of ordringarr">
    <button type="button" class="btn btn-primary" (click)="getPassengersByNum(i.numFlyght)">קבלת נוסעים של מזמין
        זה</button>

    {{i.firstname}}
    {{i.OrderNumber}}
    {{i.email}}
    {{i.lastname}}
    {{i.phonNumber}}
</div>



<div #bthadd hidden>
    <button style="width: 20%;" (click)="addFliyts()" class=" btn-primary btn-lg btn-block">
        הוספת טיסה <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
        </svg>
    </button>
</div><br><br>







<!-- הוספת טיסה -->

<form style=" width: 70%;margin: auto;  border: solid 3px blue; padding: 10px;border-radius: 15px; 
" #form [formGroup]="MyFormGrup" class="form-inline" action="/action_page.php" hidden>

    <div class="form-group">
        <input class="form-control" formControlName="prise">
        <label>:מחיר </label>
        <errors [error]="MyFormGrup.controls.prise"></errors>
    </div>

    <div class="form-group">
        <input class="form-control" formControlName="company">
        <label>:חברת טיסה </label>
        <errors [error]="MyFormGrup.controls.company"></errors>
    </div>

    <div class="form-group">
        <label for="example-date-input" class="col-2 col-form-label"></label>
        <input class="form-control" type="date" id="example-date-input" formControlName="depart">
        <label>:תאריך </label>
        <errors [error]="MyFormGrup.controls.depart"></errors>
    </div>

    <div class="form-group">
        <select class="form-control" id="sel1" formControlName="target" style="width: 200px;">
            <option *ngFor="let coutr of countryList" [value]="coutr">
                {{coutr}}
            </option>
        </select>
        <label>יעד</label>
        <img src="../../../assets/unnamed (3).png" alt="">
        <errors [error]="MyFormGrup.controls.target"></errors>
    </div>

    <div class="form-group">
        <select class="form-control" id="sel2" formControlName="origin" style="width: 200px;">
            <option *ngFor="let coutr of countryList" [value]="coutr">
                {{coutr}}
            </option>
        </select>
        <label>מוצא</label>
        <img src="../../../assets/unnamed (2).png" alt="">
        <errors [error]="MyFormGrup.controls.origin"></errors>
    </div>

    <div class="form-group">
        <input class="form-control" formControlName="duration">
        <label>:משך טיסה </label>
        <errors [error]="MyFormGrup.controls.duration"></errors>
    </div>

    <div class="form-group">
        <input class="form-control" formControlName="landing">
        <label>:זמן נחיתה </label>
        <errors [error]="MyFormGrup.controls.landing"></errors>
    </div>

    <div class="form-group">
        <input class="form-control" formControlName="takeoff">
        <label>:זמן המראה </label>
        <errors [error]="MyFormGrup.controls.takeoff"></errors>
    </div>

    <div class="form-group">
        <input class="form-control" formControlName="place">
        <label>:מספר מקומות </label>
        <errors [error]="MyFormGrup.controls.place"></errors>
    </div>

    <br><br>

    <button style="width: 20%; margin: auto;" (click)="postaddFliyts()" [disabled]="MyFormGrup.invalid"
        class=" btn-primary btn-lg btn-block">הוסף טיסה</button>
</form>