/* You can add global styles to this file, and also import other style files */

body{
    text-align: center;
    background-image: url("./assets/Annotation.png");
    background-size: cover;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
